<ion-header>
  <ion-toolbar>
    <!-- Botón con icono a la izquierda -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  <!-- Botón de menú hamburguesa -->
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title>tellevoApp</ion-title>

    <!-- Botón con icono de "salir" a la derecha -->
    <ion-buttons slot="end">
      <ion-img src="assets/icon/icono.png" style="width: 62px; height: 62px;"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-home">
  <div class="welcome-container">
    <ion-img src="assets/icon/icono.png" style="width: 200px; height: 200px;" ></ion-img>
    <h1 class="welcome-message">¡Bienvenido a tellevoApp {{ usuario?.nombre }}!</h1>
  </div>

  <!-- Mensaje de buenas conductas -->
  <div class="community-message">
    <p>
      Recuerda mantener buenas conductas en la comunidad, respetar las normas y a otros usuarios. 
      Las cancelaciones de viajes deben realizarse al menos 2 horas antes del viaje para evitar multas.
    </p>
  </div>

  <div class="role-selection-container">
    <p class="role-prompt">Elige tu rol para comenzar:</p>
    <ion-select placeholder="Selecciona tu Rol" class="custom-select" (ionChange)="roleChanged($event)">
      <!-- Deshabilitar opción 'Conductor' si no existe patente -->
      <ion-select-option value="driver" [disabled]="!usuario?.patente">Conductor</ion-select-option>
      <ion-select-option value="passenger">Pasajero</ion-select-option>
    </ion-select>
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <div class="footer-message">
      <p>Developed by Allanqaeda Devs</p>
    </div>
  </ion-toolbar>
</ion-footer>

